* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, sans-serif;
}

body {
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    padding: 10px;
    background-color: #f9fafc;
}

.container {
    display: flex;
    justify-content: space-between;

    .products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 290px;
            margin: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            background-color: #fff;
            border-radius: 20px;
            border: 2px dashed #e2e2e2;

            img {
                width: 230px;
                height: 230px;
                padding: 20px;
                margin-bottom: 20px;
                background-color: #fff;
            }

            .title {
                color: #fe5d42;
                font-size: 1.1rem;
            }

            p {
                color: #666;
                font-size: .9rem;
                font-weight: 600;
                margin: 10px 0 30px;
            }

            .actions {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    font-size: 1.5rem;
                    border-radius: 25px;
                    color: #fe5d42;
                    cursor: pointer;
                }

                div {
                    display: flex;
                    align-items: center;

                    span {
                        width: 20px;
                        text-align: center;
                        margin-inline: 20px;
                    }

                    button {
                        background-color: #fe5d42;
                        border: unset;
                        font-size: 1.7rem;
                        color: #fff;
                        height: 32px;
                        width: 32px;
                        line-height: 32px;
                        padding: 2px;
                        border-radius: 8px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.loader {
    width: 100%;
    text-align: center;
    height: 1000px;
    margin-top: 100px;
}

.search {
    margin: 0 10px 50px;

    input {
        border: 2px solid #fe5d42;
        padding: 10px;
        width: 250px;
        font-size: .9rem;
        color: #fe5d42;
        border-radius: 10px;
        margin-right: 10px;

        &:focus {
            outline: none;
        }
    }

    button {
        padding: 10px;
        font-size: 1rem;
        background-color: #fe5d42;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

.sidebar {
    width: 200px;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    margin-right: 30px;
    background-color: #fff;
    border: 2px dashed #e2e2e2;
    border-radius: 20px;

    div {
        width: 200px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 500;
        color: #fe5d42;
    }

    p {
        margin-left: 10px;
    }

    li {
        list-style: none;
        padding: 5px;
        cursor: pointer;

        &:hover {
            color: #fe5d42;
        }
    }
}

.selected {
    background-color: #fe5e425c;
    border-radius: 7px;
    padding: 10px !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 30px;
}